<div class="footer-body">
	<section>
		<h3>Contact</h3>
		<table>
			<tr>
				<td>
					<span class="material-icons">phone</span>&nbsp;
					<a href="tel:">tba</a>
				</td>
			</tr>
			<tr>
				<td>
					<span class="material-icons">mail</span>&nbsp;
					<a href="mailto:">tba</a>
				</td>
			</tr>
			<tr>
				<td>
					<span class="material-icons">Location_City</span>&nbsp;
					Montréal, QC
				</td>
			</tr>
		</table>
	</section>
	<section>
		<h3>Site Structure</h3>
		<table>
			<tr>
				<td>
					<span class="material-icons">Menu_Book</span>&nbsp;
					<a href="/">home</a> 
					<a href="/posts">posts</a>
					<a href="/photos">photos</a>
					<a href="/tags">tags</a>
				</td>
			</tr>
			<tr>
				<td>
					<span class="material-icons">Rss_feed</span>&nbsp;
					<a href="/sitemap.xml">sitemap</a>
					<a href="/index.xml">rss</a>
				</td>
			</tr>
			<tr>
				<td></td>
			</tr>
		</table>
		
	</section>
</div>
<div class="footer-bar">
	<i>Mathieu Landretti {{ now.Year }}.</i>
</div>
