{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
	<span class="metatag">
		<span class="material-icons">Calendar_Clock</span>&nbsp;<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
	</span>&nbsp;
	<span class="metatag">
		<span class="material-icons">Person</span>&nbsp;Mathieu Landretti
	</span>
  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
