@font-face{
	font-family: "Space Grotesk";
	src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

@font-face{
	font-family: "Material Icons";
	src: url("/fonts/MaterialSymbolsRounded-Regular.ttf");
}

:root{
	--back: #ffffff;
	--fore: #252525;
	--href: #000000;
	--primary: #eeeeee;
	--secondary: #cccccc;
	--accent: #666666;
	--shadow: rgba(170,170,170,1) 3px 3px 7px, rgba(102,102,102,0) 4px 4px 7px inset;
	--hover-shadow: rgba(170,170,170,0) 3px 3px 7px, rgba(102,102,102,1) 4px 4px 7px inset;   
	--br-rad: 0.5em;
}

time{
	all:unset;
}

body,html{
	padding: 0;
	margin: 0;
}

html{
	font-family: "Space Grotesk", sans-serif;
	font-size: 1.2em;
}

body{
	background-color: var(--back);
	color: var(--fore);
	display:grid;
	grid-template-columns: 1fr;
}

header{ 
	text-align:center; }

main{
	margin: 8vw auto 8vw auto;
	width: 60%;
}

footer{
	grid-area: footer: 
}

h1,h2,h3,h4{
	margin: 0;
	padding: 0;
}

h1{
	margin-bottom: 0.5em;
	font-weight: bold;
}

h2::before{
	content: ": ";
}

p{
	line-height: 1.6;
}
a:link,a:visited{
	color: var(--href);
}

.nodec {
	text-decoration: none;
}



nav ul{
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
}

pre{
	padding: 1em;
	background-color: #eeee;
	border-radius: 0  0.5em 0.5em 0;
	border-left: solid var(--accent) 0.35em; 
}

pre code{
	font-family: monospace;
	font-size: 1.1em;
}

.footer-body{
	display: grid;
	background-color: #eee;
	grid-template-columns: 1fr 1fr;
	padding: 1em;
}

.footer-bar{
	background-color: #ccc;
	text-align:center;
	padding: 0.125em;
}

.tag {
	background-color: #eee;
	padding-right: 0.5em;
	border-radius: 1em;
	transition: 0.5s ease-in-out;
}
.tag i, .tag .material-icons {
	z-index: -1;
	background-color: var(--accent);
	color: #fff;
	border-radius:  1em 0 0 1em;
	vertical-align: middle;
	padding: 0.25em 0.1em 0.25em 0.1em;
}

.metatag {
	background-color: #eee;
	display: inline-block;
	padding-right: 0.5em;
	border-radius: 1em;
}

.metatag .material-icons{
	background-color: #666;
	color: var(--back);
	padding: 0.15em;
	vertical-align: middle;
	border-radius: 1em 0 0 1em;
}

.tag a{
	color: var(--fore);
	text-decoration: none;
}

.tag a::after{
	all: unset;
}

.tag:hover{
	box-shadow: var(--hover-shadow)
}

/* List of tags */
.tags{ padding: 0; }

.tags li{
	display: inline-block;
}

.post-gallery{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
}

.post-summary a {
	text-decoration: none;
	color: var(--fore);
}

.post-summary{
	border-radius: var(--br-rad);
	margin-top: 1em;
	box-shadow: var(--primary) 4px 4px 3px;
	transition: all 0.5s ease-in-out;
}

.post-summary-header{
	margin: 0;
	background-color: #ccc;
	border-radius: var(--br-rad) var(--br-rad) 0 var(--br-rad);
	padding-left: 0.25em;
	transition: all 0.5s ease-in-out;
}

.post-summary-header:hover{
	box-shadow: var(--hover-shadow);
}

.post-summary-text{
	padding: 0.25em;
}

.post-summary .tag{
	font-size: 0.75em;
}

.photo-gallery{
	margin-top: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	columns: 1em 2;
}

.photo-card{
	border-radius:  0.5em;
	box-shadow: var(--shadow);
	transition: box-shadow 1s ease-in-out;
}

.photo-card:hover{
	box-shadow: var(--hover-shadow);
}

.photo-card img{
	width: 100%;
	display: block;
	z-index: -1;
	border-radius: 0.5em 0.5em 0 0;
	transition: box-shadow 1s ease-in-out;
}

.photo-card img:hover{
	box-shadow: var(--hover-shadow);
}

.photo-icon{
	vertical-align: middle;
}

.photo-card-caption{
	padding: 0.5em;
	font-weight: bold;
	text-align: center;
}

.profile-card{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-column-gap: 1em;
}

.profile-image{
	border-radius: 0.5em;
	box-shadow: var(--card-shadow);
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 1;
}

.profile-summary{
	border-radius: 0.5em;
	background-color: #eee;
	padding: 2em;
	margin-left: -2.5em;
}

.icon{
	padding: 0.25em; 
	border-radius: 1em;
	font-size: 1.3em;
	background-color: var(--fore);
}

.icon a{
	text-decoration: none;
	color: var(--back);
}

.timestamp .material-icons{
	vertical-align: middle;
}

.material-icons{
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: inherit;
	padding: 0;
	margin: 0;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

.btn{
	color: var(--fore);
	background-color: var(--secondary);
	display: inline-block;
	border-radius: 1em;
	padding:  0.25em 0.5em 0.15em 0.5em;  
	margin-top: 0.5em;
	transition:	box-shadow 0.5s ease-in-out;
}



.btn-icon{
	display: inline-block;
	vertical-align: middle;
}

.btn-text{
	display: inline-block;
}

.btn a {
	text-decoration: none;
}

.btn:hover{
	box-shadow: var(--hover-shadow);
}

@media only screen and (max-width: 850px){
	main{ width: 90%; }
	.post-gallery{ grid-template-columns: 1fr; }
	.photo-gallery{ grid-template-columns: 1fr; }
	.profile-card{ grid-template-columns: 1fr; }
	.profile-summary { margin-left: auto; text-align: center;}
	.profile-image{ margin-left: auto; margin-right: auto; margin-bottom: -1.5em;  }
	.footer-body{ grid-template-columns: 1fr;}
}
